@import url('https://fonts.googleapis.com/css?family=Gugi');

div {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gugi', cursive;
}

p {
    font-size: 1.8em;
}

#bin, #name {
    color: blueviolet;
}

#dec, #hearts {
    color: crimson;
}

input {
    line-height: 2;
    padding: 5px;
    margin: 5px;
    border: 2px solid blueviolet;
    border-radius: 5px;
    width: 30%;
    font-family: 'Gugi', cursive;
}

button {
    background: white;
    border: 2px solid crimson;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    font-family: 'Gugi', cursive;
}

button:hover {
    cursor: pointer;
    background: crimson;
    color: white;
}

@media only screen and (max-width: 600px) {
    input {
        width: 60%;
    }
}